:root {
  --color-surface-background: #111223;
  --color-surface-primary: #333456;
  --color-surface-secondary: #595b83;
  --color-surface-tertiary: #454763;
  --color-text-primary: #f5f6f6;
  --color-text-secondary: #cdd0d4;
  --color-brand-primary: #da4188;
  --color-brand-secondary: #7dccff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--color-surface-background);
}

.logo {
  color: var(--color-text-primary);
  font-family: "Kalam", cursive;
}

a {
  text-decoration: none;
}

.apresentacao-container h1 {
  font-family: "Kalam", cursive;
  
  background: linear-gradient(
    90deg,
    var(--color-brand-primary) 0%,
    var(--color-brand-secondary) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: var(--color-text-primary);
  font-family: "Poppins", sans-serif;
}

p{
  color: var(--color-text-secondary);
  font-family: "Poppins", sans-serif;
}

.apresentacao-container button {
  background: var(--color-brand-primary);

  color: var(--color-text-primary-button-label, #f5f6f6);
  font-family: "Poppins", sans-serif;
}

/* MAIN */

main {
  background: var(--color-surface-primary);
}

.sobre h4 {
  color: var(--color-brand-secondary);
  font-family: "Kalam", cursive;
}