:root {
  --color-surface-background: #111223;
  --color-surface-primary: #333456;
  --color-surface-secondary: #595b83;
  --color-surface-tertiary: #454763;
  --color-text-primary: #f5f6f6;
  --color-text-secondary: #cdd0d4;
  --color-brand-primary: #da4188;
  --color-brand-secondary: #7dccff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--color-surface-background);
}

#navBar {
  background: var(--color-surface-background);
}

.logo {
  color: var(--color-text-primary);
  font-family: "Kalam", cursive;
}

a {
  text-decoration: none;
}

.apresentacao-container h1 {
  font-family: "Kalam", cursive;

  background: linear-gradient(
    90deg,
    var(--color-brand-primary) 0%,
    var(--color-brand-secondary) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2,
h3,
p,
footer,
button[type="button"],
button[type="submit"] {
  color: var(--color-text-primary);
  font-family: "Heebo", sans-serif;
}

.apresentacao-container button {
  background: var(--color-brand-primary);
}

/* MAIN */

.sobre {
  background: var(--color-surface-primary);
}

.sobre p {
  color: var(--color-text-secondary);
}

h4 {
  color: var(--color-brand-secondary);
  font-family: "Kalam", cursive;
}

.card-projeto {
  background: var(--color-surface-primary);
}

.card-projeto a {
  background: var(--color-surface-background);
}

.projetos i {
  font-size: 1.5rem;
  color: var(--color-brand-primary);
}

.projetos button {
  background: var(--color-surface-secondary);
}

.contato {
  background: var(--color-surface-primary);
}

.icons-social-media button {
  background: var(--color-surface-secondary);
}

.contato button[type="submit"] {
  background: var(--color-brand-primary);
}

form input,
form textarea {
  background: var(--color-surface-background);
  color: var(--color-text-secondary);
}

form input:focus,
form textarea:focus {
  border-color: var(--color-brand-secondary);
  box-shadow: 0 0 0 3px var(--color-brand-secondary);
}

/* Menu mobile */

#menu {
  background: var(--color-surface-primary);
  color: var(--color-text-secondary);
}

#menu li:hover,
#menuDesktop li:hover {
  color: var(--color-text-primary);
  font-weight: 700;
}

.card-projeto:hover{
  outline: 2px solid var(--color-brand-secondary);
  box-shadow: 0px 0px 48px 0px rgba(128, 204, 255, 0.24);
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

.card-projeto:hover .links-projeto {
  display: flex;
}

.links-projeto a:hover {
  outline: 2px solid var(--color-brand-primary);
}

/* Menu desktop */
#menuDesktop {
  display: none;
  color: var(--color-text-secondary);
}

@media (min-width: 768px) {
  #iconMenu {
    display: none;
  }
  #menuDesktop {
    display: flex;
  }
}
